$micolor: #00c4c7; 
$micolor: #c70000 !default;

h2 {
   
   $micolor: #c70000 !global;    
   color: $micolor; 
}

$value-px: 5px;


$micolor: #00c4c7; 
$micolor: #c70000 !default; 

h2 {
   
   $micolor: #c70000 !global;    
   color: $micolor; 
}

// Footer
footer {    
   background-color: #00CDD1;    
   color: white;    clear: both;      
   border-top: 1px solid #00CDD1;    
   
   p {        
      text-align: center;    
   } 

   img {        
      width: 52px;    
   } 

   a {        
      color: white;        
      text-decoration: none;    
   } 
}

// el > sirve para meternos dentro de esa sección por ejemplo.
article {

   section>h3{
      line-height: 1em;
   }
}
//El mas es el hermano de sección.
// <section></section>
// <p></p> Ese p es hermano. Si estuviera dentro sería hijo. todos los hermanos de la sección sería así: section~p{}
section+p{

   color:blueviolet;

}


// FUNCIONES MATEMÁTICAS
$mimargen: 1.99em;

h1 {    
   font-size:round(1.8*16px);
   padding: ceil(1.2em);
   margin:floor($mimargen);
   border-bottom:(random(10)+px) dotted #c80060; 
}

h2 {

   color:white;
}

$primary-color: #00c4c7; 
$secondary-color: #c80060;

@mixin std-heading($color,$font) {
       color: $color;    
       font-weight: $font;    
       font-family: Georgia, serif;    
       font-style: italic; } 
       
h1, h3, h5 {   
    @include std-heading(black,normal); //PUede ser parametrizable    
    background-color: $primary-color;
    } 
    
h2, h4 {    
   @include std-heading(white,normal);    
   background-color: $secondary-color; 
}

 