/* Button Menu */
@import "./botones/botones";
@import "./body/body.scss";


//Con funciones
@function em-to-px($px-value, $base-font-size: 16px) {
  @return ($px-value * $base-font-size);
}


// Para utilizarlo en span ejemplo:
// span {

//   font-size:em-to-px(2);
// }

* {
  box-sizing: border-box;
}

section {
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  font-size: em-to-px(2); //2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
}
